<tr id="subject-<%= subject.id %>">
	<td class="col-md-3">
		<%= link_to subject.name, subject %>
	</td>
	<td class="col-md-3">
		<%= subject.created_at %>
	</td>
	<td class="col-md-6">
		<%= subject.instruction %>
	</td>
</tr>