<% provide(:title, "All subjects") %>

<h1>All subjects</h1>
<%= will_paginate %>
<table class="table table-bordered">
	<tr>
		<td class="col-md-3">Name</td>
		<td class="col-md-3">Created at</td>
		<td class="col-md-6">Instruction</td>
	</tr>
	<%= render @subjects %>
</table>
<%= will_paginate %>